USE [master]
GO
/****** Object:  Database [Studentinfo]    Script Date: 19-09-2025 21:49:11 ******/
CREATE DATABASE [Studentinfo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Studentinfo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Studentinfo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Studentinfo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Studentinfo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Studentinfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Studentinfo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19-09-2025 21:49:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 19-09-2025 21:49:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[stuid] [int] IDENTITY(1,1) NOT NULL,
	[stuname] [varchar](100) NOT NULL,
	[stuGender] [varchar](50) NOT NULL,
	[stuDOB] [date] NOT NULL,
	[stuEmail] [varchar](100) NOT NULL,
	[stuPhone] [varchar](100) NOT NULL,
	[stuaadhar] [varchar](12) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[stuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250818181133_first', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250818181909_Scound', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250818182426_third', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([stuid], [stuname], [stuGender], [stuDOB], [stuEmail], [stuPhone], [stuaadhar]) VALUES (3, N'Nikita Kumari', N'female', CAST(N'2005-06-02' AS Date), N'nikita@gmail.com', N'7569556525', N'458692356785')
INSERT [dbo].[Students] ([stuid], [stuname], [stuGender], [stuDOB], [stuEmail], [stuPhone], [stuaadhar]) VALUES (4, N'Brownie', N'female', CAST(N'2007-01-01' AS Date), N'browni@gmail.com', N'8745695214', N'856974586952')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ('') FOR [stuaadhar]
GO
USE [master]
GO
